@use '../constants/colors' as *;
@use '../mixins/text-style' as *;
@use '../mixins/flexbox' as *;

.question {
  height: 100%;
  padding: 0 10px;

  &-content {
    @include flexbox(around);
    flex-direction: column;
    height: calc(100% - 60px);

    .title {
      @include text-style(18);
      font-size: 20px;
      text-align: center;
    }
  }

  .button-wrapper {
    @include flexbox;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    .answer-btn {
      width: 100%;
      padding: 20px 10px;
      background-color: $beige;
      border: 1px solid $border;
      border-radius: 8px;
      transition: background-color 300ms ease-in-out;

      &:hover {
        background-color: lighten($beige, 10%);
      }
    }
  }
}
